.btn {
  height: auto;
  float: center;
  padding: 0;
  text-align: center;
  width: auto;
  border: 1px solid black;
}
#row-for-buttons {
  display: flex;
}

#errorMsg {
  text-align: center;
  color: rgb(243, 44, 104);
}
