<!-- <!DOCTYPE html> -->
<!-- <html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PAC-MAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark"> -->
<div style="color: cyan; text-align: center;"><h3>PAC-MAN</h3></div>
<div style="text-align: center;">
  <button class="btn btn-info" (click)="startGame()">Start</button>
</div>
<div style="color: cyan; text-align: center;">
  Score:<span class="score"></span>
</div>
<div class="parent-div">
  <div class="pacmanBoard" id="pacmanBoard"></div>
</div>
<!-- </body> -->
<!-- </html> -->
