<div style="color: white;">
  <div style="text-align: center; color: orange;">
    <h6>TIC-TAC-TOE</h6>
    <p>
      A game that needs no introduction!!!Here you have an option to play with
      another palyer or a bot.
    </p>
    <!-- <p></p> -->
  </div>
  <div style="text-align: center; color: rgb(43, 226, 67);">
    <h6>N-QUEENS</h6>
    <p>
      N-Queens is an implementation of an algorithm where we place the queens on
      an NxN board such that no two queens can attack each other!
    </p>
  </div>
  <div style="text-align: center; color: orange;">
    <h6>PATH FINDING</h6>
    <p>
      In this section we can set source and destination on a board by drag and
      drop. On clicking on start button it starts searching for the path between
      source and destination
    </p>
  </div>
  <div style="text-align: center; color: cyan;">
    <div></div>
    <p>NOTE:: CLICK ON THE BUTTONS ABOVE TO NAVIGATE TO THE RESPECTIVE PAGES</p>
    <p>USE LARGE SCREEN DEVICES FOR BETTER VIEW!! :)</p>
  </div>
</div>
